Repository The-Ronin-Project/interop-fhir: changes, and which Codecov flags are due for each by the changed paths.
All: fhir, fhir-generators

codecov.yml:

codecov:
  require_ci_to_pass: true
ignore:
  - "**/SystemNormalizers"
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      fhir:
        target: auto
        threshold: 1%
        flags:
          - fhir
      fhir-generators:
        target: auto
        threshold: 1%
        flags:
          - fhir-generators

    patch:
      fhir:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - fhir
      fhir-generators:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - fhir-generators

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  fhir:
    paths:
      - interop-fhir/
    carryforward: true
  fhir-generators:
    paths:
      - interop-fhir-generators/
    carryforward: true

INT-1428 added de-duplication of resources when paging (#158)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/util/BundleUtil.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/util/BundleUtilTest.kt
Due: fhir

Fix NPE Error on null values (#159)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/validate/FHIRError.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/validate/FHIRErrorTest.kt
Due: fhir

[INT-1159] Add Encounter to FHIR Generators (#160)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/EncounterParticipantGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/PeriodGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/EncounterParticipantGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/PeriodGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGeneratorTest.kt
Due: fhir-generators

[INT-1159] Allow type to be used in Encounter generator (#161)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGeneratorTest.kt
Due: fhir-generators

alphabetized codesystems and added diagnostic report lab codesystem value (#164)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/CodeSystem.kt
Due: fhir

IINT-1492: release fix (#165)
  interop-fhir-generators/interop-fhir-generators.gradle.kts
  interop-fhir/interop-fhir.gradle.kts
  settings.gradle.kts
Due: fhir, fhir-generators

INT-1526 - added in health concern codesystem (#171)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/CodeSystem.kt
Due: fhir

[INT-1529] Switch to Datafaker (#169)
  gradle/libs.versions.toml
  interop-fhir-generators/interop-fhir-generators.gradle.kts
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/HumanNameGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/LocationGenerator.kt
Due: fhir-generators

INT-1543 - Avoid NPE when validating a Code (#172)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/validate/FHIRError.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/validate/Validation.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4PatientValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/validate/ValidationTest.kt
Due: fhir

INT-1563: Add DocumentReference and validation (#175)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/DocumentReference.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4Elements.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4DocumentReferenceValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/CompositionStatus.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/DocumentReferenceStatus.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/DocumentRelationshipType.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/DocumentReferenceTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4ElementsTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4DocumentReferenceValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/CompositionStatusTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/DocumentReferenceStatusTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/DocumentRelationshipTypeTest.kt
Due: fhir

Int 1466 add more test data generators so we can cover all fhir resources (#178)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/BundleGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/CarePlanGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/CareTeamGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/CommunicationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ConceptMapGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/DiagnosticReportGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationRequestGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationStatementGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/OrganizationGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/BundleGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/CarePlanGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/CareTeamGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/CommunicationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ConceptMapGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/DiagnosticReportGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationRequestGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationStatementGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/OrganizationGeneratorTest.kt
Due: fhir-generators

INT-1564: Add Binary model and validation (#176)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Binary.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4BinaryValidator.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/BinaryTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4BinaryValidatorTest.kt
Due: fhir

Int 1598 model fhir value sets (#180)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/ValueSet.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4Elements.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4ValueSetValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/FilterOperator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/PublicationStatus.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/CommunicationTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/ValueSetTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4ElementsTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4CommunicationValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4ValueSetValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/FilterOperatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/PublicationStatusTest.kt
Due: fhir

Updated ConditionGenerator to generate stage data (#181)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionStageGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ConditionGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionStageGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ConditionGeneratorTest.kt
Due: fhir-generators

INT-1657: adding in data authority code system and codeable concept (#184)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/CodeSystem.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/CodeableConcepts.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/CodeableConceptsTest.kt
Due: fhir

Update CodeSystem.kt (#189)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/CodeSystem.kt
Due: fhir

INT-1702: Add all attributes on Observation (#190)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/AnnotationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/DynamicValues.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/MarkdownGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ObservationGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/AnnotationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/DynamicValuesTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/MarkdownGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ObservationGeneratorTest.kt
Due: fhir-generators

make meta a var (#191)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Appointment.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Binary.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Bundle.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/CarePlan.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/CareTeam.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Communication.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/ConceptMap.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Condition.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/DiagnosticReport.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/DocumentReference.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Encounter.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Location.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Medication.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/MedicationRequest.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/MedicationStatement.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Observation.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Organization.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Patient.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Practitioner.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/PractitionerRole.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/UnknownResource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/ValueSet.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3Appointment.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3Bundle.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3MedicationStatement.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3UnknownResource.kt
Due: fhir

[INT-1708] RequestGroup (#192)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/RequestGroup.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4Elements.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4RequestGroupValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionCardinalityBehavior.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionGroupingBehavior.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionPrecheckBehavior.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionRequiredBehavior.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionSelectionBehavior.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupConditionKind.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupIntent.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupPriority.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupRelatedActionRelationship.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupStatus.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/RequestGroupTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4RequestGroupValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionCardinalityBehaviorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionGroupingBehaviorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionPrecheckBehaviorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionRequiredBehaviorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupActionSelectionBehaviorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupConditionKindTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupIntentTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupPriorityTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupRelatedActionRelationshipTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupStatusTest.kt
Due: fhir

Allow Observation Encounters to be nullable in generators (#193)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ObservationGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ObservationGeneratorTest.kt
Due: fhir-generators

Handle null required values when deserializing (#196)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/jackson/inbound/r4/BaseFHIRDeserializer.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/ValueSetTest.kt
Due: fhir

INT-1727: Add missing attributes to AppointmentGenerator (#194)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/PositiveIntGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/UnsignedIntGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/AppointmentGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/PositiveIntGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/UnsignedIntGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/AppointmentGeneratorTest.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Appointment.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4AppointmentValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3Appointment.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/AppointmentTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4AppointmentValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3AppointmentTest.kt
Due: fhir, fhir-generators

Add all R4 attributes to Practitioner (#198)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/PractitionerGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/PractitionerGeneratorTest.kt
Due: fhir-generators

Fix RONIN_MRN (#201)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/CodeableConcepts.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/CodeableConceptsTest.kt
Due: fhir

Practitioner: add photo, adjust tests (#199)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/PractitionerGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/PractitionerGeneratorTest.kt
Due: fhir-generators

INT-1730 - Location: add remaining R4 attributes (#200)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/CodingGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/CodeGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/DecimalGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRBooleanDataGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/TimeGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/LocationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/PatientGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/AttachmentGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/CodingGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/NarrativeGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ParticipantGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/CodeGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/DecimalGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRBooleanDataGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/TimeGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/AppointmentGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/BundleGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/CarePlanGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/CareTeamGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/CommunicationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ConceptMapGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/DiagnosticReportGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ExampleTests.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/LocationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationRequestGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationStatementGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ObservationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/PatientGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/PractitionerGeneratorTest.kt
Due: fhir-generators

INT-1765: Add missing attributes to Encounter generator (#205)
  CODEOWNERS
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/DurationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/EncounterParticipantGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ReferenceGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRStringDataGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/IdGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/PositiveIntGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/UriGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/LocationGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/DurationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/EncounterParticipantGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ReferenceGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRStringDataGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/IdGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/PositiveIntGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/UriGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGeneratorTest.kt
Due: fhir-generators

INT-1696: Only use Reference.reference for decomposed fields (#206)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/datatype/Reference.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/datatype/ReferenceTest.kt
Due: fhir

INT-1811: Add consistent hashing for Resources (#207)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/ResourceTest.kt
Due: fhir

INT-1728: Added remaining attributes to condition R4 FHIR generator (#197)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/CodeableConceptGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionEvidenceGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ConditionGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionEvidenceGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionStageGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ConditionGeneratorTest.kt
Due: fhir-generators

[INT-1837] Add CodeEnum util function (#211)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/datatype/primitive/Code.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/datatype/primitive/CodeTest.kt
Due: fhir

Update libs.versions.toml (#212)
  gradle/libs.versions.toml
Due: none

[INT-1854] Update interop-FHIR to use BigDecimal for doubles (#214)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/DecimalGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/DurationGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/DecimalGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/LocationGeneratorTest.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/datatype/primitive/Decimal.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/datatype/R4AgeValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/datatype/R4CountValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/datatype/R4TimingRepeatValidator.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/datatype/primitive/DecimalTest.kt
Due: fhir, fhir-generators

INT-1902: Add Immunization (#217)
  CODEOWNERS
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Immunization.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4Elements.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4ImmunizationValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/ImmunizationStatus.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/ImmunizationTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4ElementsTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4ImmunizationValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/ImmunizationStatusTest.kt
Due: fhir

INT-1761: Add RequestGroup generator (#219)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ExpressionGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/RelatedArtifactGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/CanonicalGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/MarkdownGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/UriGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/UrlGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/RequestGroupGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ExpressionGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/RelatedArtifactGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/CanonicalGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/MarkdownGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/UrlGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/RequestGroupGeneratorTest.kt
Due: fhir-generators

Revert datafaker (#220)
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test_fhir.yml
  .github/workflows/test_fhir_generators.yml
  .github/workflows/upgrade_dependencies.yml
  gradle/libs.versions.toml
Due: none

INT-1903 - give CarePlanGenerator all FHIR R4 attributes (#221)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionEvidenceGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionStageGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/EncounterParticipantGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/SimpleQuantityGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/CarePlanGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ConditionGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionEvidenceGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ConditionStageGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/EncounterParticipantGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/SimpleQuantityGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/CarePlanGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ConditionGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ObservationGeneratorTest.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/datatype/primitive/Decimal.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/CarePlan.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/CarePlanTest.kt
Due: fhir, fhir-generators

fix typo in INT-1903 CarePlan.status value set (#223)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/CarePlanGenerator.kt
Due: fhir-generators
