Repository The-Ronin-Project/interop-fhir: changes, and which Codecov flags are due for each by the changed paths.
All: fhir, fhir-generators

codecov.yml:

codecov:
  require_ci_to_pass: true
ignore:
  - "**/SystemNormalizers"
coverage:
  status:
    default_rules:
      flag_coverage_not_uploaded_behavior: pass
    project:
      fhir:
        target: auto
        threshold: 1%
        flags:
          - fhir
      fhir-generators:
        target: auto
        threshold: 1%
        flags:
          - fhir-generators

    patch:
      fhir:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - fhir
      fhir-generators:
        target: 80
        threshold: 1%
        base: auto
        flags:
          - fhir-generators

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches: null
  show_carryforward_flags: false

flags:
  fhir:
    paths:
      - interop-fhir/
    carryforward: true
  fhir-generators:
    paths:
      - interop-fhir-generators/
    carryforward: true

INT-1912, INT-1920 - MedicationRequest, MedicationStatement (#224)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/DosageGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/TimingGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRIntegerDataGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationRequestGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationStatementGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/DosageGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/TimingGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRIntegerDataGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationRequestGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationStatementGeneratorTest.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/MedicationRequest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/MedicationRequestTest.kt
Due: fhir, fhir-generators

R4 ReqGroup 1..1 subject, relatedAction.actionId (#226)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/RequestGroupGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/IdGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/RequestGroupGeneratorTest.kt
Due: fhir-generators

[INT-1937] Complete Medication R4 Generator (#225)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/QuantityGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/RatioGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/AppointmentGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/QuantityGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/RatioGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/AppointmentGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationGeneratorTest.kt
Due: fhir-generators

[INT-1961] Improve ID generation, remove deprecated generators (#227)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/AddressGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/AnnotationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/AttachmentGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/CodeableConceptGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/CodingGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ContactPointGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/DurationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ExtensionGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/HumanNameGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/IdentifierGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/MetaGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/NarrativeGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ReferenceGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRStringDataGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/IdGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/MarkdownGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/PositiveIntGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/StringGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/AppointmentGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ConditionGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/EncounterGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/LocationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ObservationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/PatientGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/PractitionerGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/CodeableConceptGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ContactPointGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/DosageGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ExpressionGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/HumanNameGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/IdentifierGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/TimingGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRStringDataGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/PositiveIntGeneratorTest.kt
Due: fhir-generators

INT-1911 - fix R4 MedicationRequest generator (#228)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ReferenceGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRBooleanDataGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationRequestGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ReferenceGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationRequestGeneratorTest.kt
Due: fhir-generators

INT-1893 Upgraded interop-fhir to new dependency plugin and GHA (#229)
  .github/workflows/upgrade_dependencies.yml
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  interop-fhir-generators/interop-fhir-generators.gradle.kts
  interop-fhir/interop-fhir.gradle.kts
  settings.gradle.kts
Due: fhir, fhir-generators

INT1972: Add Doc Reference generator (#230)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/DocumentReferenceGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/DocumentReferenceGeneratorTest.kt
Due: fhir-generators

HL7.org standard system for an unknown code (#232)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/CodeSystem.kt
Due: fhir

inteorp-fhir Date/Time wraps ronin-test-utilities (#234)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/DateGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/DateTimeGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/InstantGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/TimeGenerator.kt
Due: fhir-generators

INT-1465 - move String generators to ronin-test-utilities (#233)
  gradle/libs.versions.toml
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/IdentifierGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/ReferenceGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRBooleanDataGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRStringDataGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/IdGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/MarkdownGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/StringGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/UriGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/UrlGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/LocationGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/OrganizationGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/CodeableConceptGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ContactPointGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/DosageGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/ExpressionGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/HumanNameGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/IdentifierGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/TimingGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/FHIRBooleanDataGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/StringGeneratorTest.kt
Due: fhir-generators

[INT-1984] Implement Binary R4 Generator (#235)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/Base64BinaryDataGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/BinaryGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/Base64BinaryDataGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/BinaryGeneratorTest.kt
Due: fhir-generators

Update MedicationRequestIntent.kt (#236)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/MedicationRequestIntent.kt
Due: fhir

Run dependency upgrades on Saturday and Wednesday (#237)
  .github/workflows/upgrade_dependencies.yml
Due: none

Ensure Base64 values in generated binary (#240)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/Base64BinaryDataGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/Base64BinaryDataGeneratorTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/BinaryGeneratorTest.kt
Due: fhir-generators

INT-2046: Make meta a var for STU3Resource (#241)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3Resource.kt
Due: fhir

Int 1846 interop ehr validation send the normalization details on issues (#242)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/validate/FHIRError.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/validate/IssueMetadata.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/validate/ValidationIssue.kt
Due: fhir

INT-2057: Ensure only valid dates are returned (#243)
  gradle/libs.versions.toml
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/DateGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/primitives/DateTimeGenerator.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/PatientGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/primitives/DateGeneratorTest.kt
Due: fhir-generators

[INT-2093] Add FindFHIRId (#248)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/ResourceTest.kt
Due: fhir

adding underscore to regex (#249)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/datatype/Reference.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/datatype/ReferenceTest.kt
Due: fhir

INT-2165: MedicationAdministration FHIR Model (#250)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/MedicationAdministration.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4MedicationAdministrationValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/MedicationAdministrationStatus.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/MedicationAdministrationTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4MedicationAdministrationValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/MedicationAdministrationStatusTest.kt
Due: fhir

INT-2200: Add ServiceRequest R4 model, validator and generator (#252)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ServiceRequestGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ServiceRequestGeneratorTest.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/ServiceRequest.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4RequestGroupValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4ServiceRequestValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupIntent.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupPriority.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestGroupStatus.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestIntent.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/ServiceRequestTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4ServiceRequestValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/RequestIntentTest.kt
Due: fhir, fhir-generators

INT-2201: Add Procedure R4 model, validator and generator (#251)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/datatypes/DynamicValues.kt
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/ProcedureGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/datatypes/DynamicValuesTest.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/ProcedureGeneratorTest.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Procedure.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4Elements.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4ProcedureValidator.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/valueset/EventStatus.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/ProcedureTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4ElementsTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4ProcedureValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/valueset/EventStatusTest.kt
Due: fhir, fhir-generators

INT-2220: Simplify R4Elements (#257)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/validate/element/R4Elements.kt
Due: fhir

INT-2187: Add find tenant ID function (#259)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/r4/resource/Resource.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/resource/ResourceTest.kt
Due: fhir

INT-2170 create r4 fhir medication admin generator (#262)
  interop-fhir-generators/src/main/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationAdministrationGenerator.kt
  interop-fhir-generators/src/test/kotlin/com/projectronin/interop/fhir/generators/resources/MedicationAdministrationGeneratorTest.kt
Due: fhir-generators

INT-2264: Add STU3 Medication (#266)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3Medication.kt
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3Resource.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/stu3/resource/STU3MedicationTest.kt
Due: fhir

initial commit (#267)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/validate/FHIRError.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/annotation/SupportedReferenceTypesValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4AppointmentValidatorTest.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/r4/validate/resource/R4CarePlanValidatorTest.kt
Due: fhir

INT-2309: Move to SonarQube and single unit test GHA (#269)
  .github/workflows/test.yml
  .github/workflows/test_fhir.yml
  .github/workflows/test_fhir_generators.yml
  build.gradle.kts
  codecov.yml
  gradle/libs.versions.toml
Due: none

INT-2339: Move Id.toFhirIdentifier to interop-fhir (#272)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/util/IdUtil.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/util/IdUtil.kt
Due: fhir

Update to use basic-gradle-build-publish action (#274)
  .github/workflows/test.yml
Due: none

INT-2362: Add William and update GHA runners (#275)
  .github/workflows/create_release.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  .github/workflows/test.yml
  .github/workflows/verify_mergeable.yml
  CODEOWNERS
Due: none

INT-2405: Upgrade to JDK 17 (#280)
  .github/workflows/create_release.yml
  .github/workflows/lint.yml
  .github/workflows/snapshot_publish.yml
  gradle/libs.versions.toml
Due: none

INT-2385: Move some helpers into FHIR (#282)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/util/IdUtil.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/util/IdUtil.kt
Due: fhir

INT-2385: Add Reference localize method (#283)
  interop-fhir/src/main/kotlin/com/projectronin/interop/fhir/util/IdUtil.kt
  interop-fhir/src/test/kotlin/com/projectronin/interop/fhir/util/IdUtil.kt
Due: fhir
